<%# Clients of this partial must provide the following variable:
    contract %>

<h2 class='fine_print heading'><%= contract.title %> <%= @contract.version ? \
  "(v.#{@contract.version})" : 'Draft' %></h2>

<h4 class='fine_print heading'>Last updated: <%= contract.updated_at %></h4>

<div class='fine_print contract'>
  <pre><%= @contract.content.html_safe %></pre>
</div>
