<h1 class='fine_print heading'><%= t('fine_print.contract.actions.new') %></h1>

<div class='fine_print new_contract'>
  <%= render 'form' %>

  <br>

  <div class='fine_print links'>
    <%= link_to t('fine_print.contract.actions.list'),
                contracts_path,
                class: 'fine_print link' %>
  </div>
</div>
