<h1 class='fine_print heading'>New Contract</h1>

<div class='fine_print new_contract'>
  <%= render 'form' %>

  <div class='fine_print links'>
    <%= link_to 'List', contracts_path, :class => 'fine_print link' %>
  </div>
</div>
