<h1 class='fine_print heading'>Contract Details</h1>

<%= render :partial => 'show', :locals => {:contract => @contract} %>

<div class='fine_print links'>
  <% if @contract.signatures.empty? %>
    <%= link_to 'Edit', edit_contract_path(@contract), :class => 'fine_print link' %> |
  <% end %>
  <%= link_to 'List', contracts_path, :class => 'fine_print link' %>
</div>
