<h1 class="fine_print heading">Editing Agreement</h1>

<%= render 'form' %>

<br/>

<%= link_to 'Show', @agreement, :class => "fine_print link" %> |
<%= link_to 'List', agreements_path, :class => "fine_print link" %>
