<div class='fine_print contract'>
  <%= render :partial => 'fine_print/contracts/show',
             :locals => {:contract => @contract} %>
</div>

<div class='fine_print new_signature'>
  <%= render 'form' %>

  <div class='fine_print links'>
    <%= without_interceptor { link_to 'I do not agree',
          main_app.root_url, :class => 'fine_print link' } %>
  </div>
</div>
