<!DOCTYPE html>
<html>
<head>
  <title>FinePrint</title>
  <%= stylesheet_link_tag    "fine_print/application", :media => "all" %>
  <%= javascript_include_tag "fine_print/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
